<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>农事通</string>
		<key>attention</key>
		<string>围观318</string>
		<key>source</key>
		<string>农稼汇</string>
		<key>time</key>
		<string>5分钟前</string>
		<key>image</key>
		<string>4.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小编唠农事</string>
		<key>attention</key>
		<string>围观313</string>
		<key>source</key>
		<string>农稼汇</string>
		<key>time</key>
		<string>1分钟前</string>
		<key>image</key>
		<string>5.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>今日小满</string>
		<key>attention</key>
		<string>围观28</string>
		<key>source</key>
		<string>光明网</string>
		<key>time</key>
		<string>1分钟前</string>
		<key>image</key>
		<string>6.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大白菜育种</string>
		<key>attention</key>
		<string>围观31</string>
		<key>source</key>
		<string>中国三农网</string>
		<key>time</key>
		<string>7分钟前</string>
		<key>image</key>
		<string>7.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>新时代的新农业</string>
		<key>attention</key>
		<string>围观0</string>
		<key>source</key>
		<string>中国三农网</string>
		<key>time</key>
		<string>21分钟前</string>
		<key>image</key>
		<string>8.png</string>
	</dict>
</array>
</plist>
